[uwsgi]
uid = {{ uwsgi_user }}
gid = {{ uwsgi_group }}
chdir = {{ uwsgi_working_directory }}
force-cwd = {{ uwsgi_working_directory }}
hook-post-fork = chdir:{{ uwsgi_working_directory }}
master = true
master-fifo = {{ uwsgi_master_fifo_path }}
stats = /var/www/www_example_com/uwsgi-{{ uwsgi_app_name }}-stats.sock
virtualenv = {{ uwsgi_virtualenv_path }}
safe-pidfile = {{ uwsgi_pid_path }}
module = wsgi_production
enable-threads = true
lazy-apps = true
vacuum = true
single-interpreter = true
pythonpath = {{ uwsgi_working_directory }}
socket = 127.0.0.1:3300
processes = 5
threads = 5
max-requests = 100
max-worker-lifetime = 3600
worker-reload-mercy = 60
auto-procname = true
procname-prefix = {{ uwsgi_app_name }}
need-app = true
memory-report = true
listen = 512
